.section {
  color: #fff;
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px #faf7f7;
  background-color: #45a049;
}
.input-group > section {
  color: #f4f4;
}
.message {
  font-size: 16px;
  text-transform: capitalize;
}
.error {
  font-size: 16px;
  text-transform: capitalize;
  color: red;
}
.search {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.search > input {
  width: 30%;
}
.search > p {
  padding-left: 30px;
}
.search > form > button {
  display: none;
}
/* Add this CSS to your styles or a separate stylesheet */
.overlay {
  position: fixed;
  top: 0;
  left: 40px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  padding: 20px;
  border-radius: 5px;
  width: 60%;
  margin-left: 200px;
  box-shadow: 0 2px 5px #faf7f7;
  background-color: #45a049;
  /* margin-top: 400px; */
}
.modal > button {
  float: right;
}
/* Add additional styling as needed */
input[type="file"] {
  background: #fff;
  color: #45a049;
}
@media screen and (max-width: 600px) {
  .search {
    align-items: center;
  }
  .search > input {
    width: 40%;
  }
  .modal {
    padding: 2px;
    margin-left: -100px;

    width: 70%;
  }
}
