.header {
  background-color: #042e06;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.header-logo > img {
  width: 30px;
  border-radius: 8px;
  padding-right: 10px;
}

.header-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-side > img {
  width: 40px;
  height: 40px;
  border-radius: 30px;
}
.header-side > p {
  text-transform: capitalize;
  font-size: medium;
  font-weight: bold;
}
.header-side > button {
  background-color: #fff;
  color: #042e06;
  padding: 10px 10px;
  margin-left: 8px;
  border: none;
  border-radius: 8px;
}
.header-side > button:hover {
  background-color: #0ae215;
  color: #fff;
}
.header-icon {
  width: 30px !important;
  height: 30px !important;
}

.dashboard-details {
  display: flex;
  margin-top: 0 auto;
}
.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.2;
  background-color: #042e06;
  color: #fff;
}
.right_side {
  flex: 0.8;
  margin-left: 20px;
  background-color: #45a049;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar > ul > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar > ul > li > button {
  display: flex;
  border: none;
  background: inherit;
  justify-content: center;
  align-items: center;
  color: #726f6f;
  font-size: 16px;
}
.sidebar > ul > li > button > p {
  margin-left: 5px;
}

.sidebar > ul > li > button:hover {
  color: #fff;
}
.sidebar > ul > li > .active {
  color: #fff;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
footer {
  padding: 20px;
  color: #fff;
  font-size: 16px;
}
@media screen and (max-width: 800px) {
  .dashboard-details {
    flex-direction: column;
  }
  .sidebar {
    margin-top: 20px;
    flex-direction: row;
    justify-content: center;
  }
  .sidebar > ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .sidebar > ul > li > button {
    /* margin-left: 0px; */
    font-size: 10px;
  }
  .right_side {
    margin: 0 auto;
  }
  .menu {
    display: block;
  }
  .greater {
    display: none;
  }
}
