.patient-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 30px;
  border-radius: 8px;
  float: left;
}
.patient-details > .basic-info {
  display: flex;
  justify-content: space-around;
}
.scroll-button > h3 > span {
  color: #000;
}

.nurse {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}
.report-details {
  border: 1px solid white;
  padding: 20px;
}
.report-details > p {
  text-transform: capitalize;
  text-wrap: wrap;
}
.scroll-button {
  max-width: 500px; /* Set the desired width */
  max-height: 400px; /* Set the desired height */
  overflow-y: auto; /* Enable vertical scrollbar */
  border: 1px solid #ccc; /* Add a border for visibility */

  /* Optional: Add padding and other styling */
  padding: 10px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 800px) {
  .scroll-button {
    max-width: 200px;
    max-height: 400px;
  }
}
